<div class="container">
  <div class="row">
    <div class="col">
      <form>
        <div class="form-group m-4">
          <input
            (keydown.escape)="clearSearch()"
            class="form-control form-control-lg"
            type="text"
            placeholder="Pretraži broj"
            name="pretraga"
            autofocus
            [(ngModel)]="searchTerm"
          />
        </div>
      </form>
    </div>
    <div class="align-self-center">
      <button class="btn btn-info" (click)="isAdminUser()">Admin</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-striped table-hover table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Ime</th>
            <th scope="col">Odeljenje</th>
            <th scope="col">Lokacija</th>
            <th scope="col">Broj</th>
            <th *ngIf="isAdmin" scope="col">Operations</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let imenik of imenikList | imenikFilter: searchTerm" sort>
            <td>{{ imenik.naziv }}</td>
            <td>{{ imenik.odeljenje }}</td>
            <td>{{ imenik.lokacija }}</td>
            <td>{{ imenik.broj }}</td>
            <td *ngIf="isAdmin">
              <button
                type="button"
                class="btn btn-primary"
                (click)="onEdit(imenik)"
              >
                Edit
              </button>
              |
              <button
                type="button"
                class="btn btn-danger"
                (click)="deleteImenik(imenik)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
